{% extends 'Quiz/base.html' %}

{% block content %}

<h1 class="congrats">Let's Test This Friendship of Ours</h1>

<form method="POST">
    {% csrf_token %}
    <div class="QuizTaker">
        <label for="QuizTakerName">
        Enter Your Name:
        <input type="text" id="QuizName" name="QuizTakerName" required>
    </label>
    </div>
    
    {% for quiz in quizzes %}
    <div class="takequizform">
        <b>{{ forloop.counter }}:</b>
        <hr>
        <h3 class="quizquestion">{{ quiz.question}}</h3>
        <div class="options">
            {% for option in quiz.options %}
            <label for="{{ option }}" class="optionsmain">
            <input type="radio" id="{{ quiz.question }}" name="{{ quiz.question }}" value="{{ option }}">
            {{ option }}</label>
            {% endfor %}  
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary signupsubmit">Submit!</button>
</form>


{% endblock %}